<section class="main">
    <div class="details">
        <div class="text text-info">
            <h1 class="text1"><i>Explore</i></h1><span>
                <h2 class="text2" >Movie's World</h2>
            </span>
        </div>

    </div>
</section>


<!-- for 2 cards -->
<div class="container-fluid bg-dark card2" style="padding-bottom: 70px;">
<h2 class="text-center pt-3 text-light">Top Category</h2>
<section class="container mt-5" style="display: flex; justify-content: center;">
    <div class="row">
      <div class="col-md-6">
        <div class="card " style="background-color:#a2b9bc;">
          <img src="assets/img/oscar.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h2 class="card-title">Oscar Winning</h2>
            <a  routerLink="/oscar">
            <button class="btn btn-primary">View</button>
        </a>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="card"  style="background-color:#a2b9bc;">
          <img src="assets/img/alltime.jpg" class="card-img-top" alt="Image 2" style="height: 346px;">
          <div class="card-body">
            <h2 class="card-title">All Time Hit</h2>
            <a  routerLink="/allhit">
            <button class="btn btn-primary">View</button>
        </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  





  


  <!-- for 4 cards -->
  <div class="container-fluid bg-dark card3" style="padding-bottom: 70px;">


    <h2 class="d-flex justify-content-center text-light py-2">Treanding Movies</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="card trending-card" style="background-color:#a2b9bc;">
        <img src="/assets/img/open.jpg" class="card-img-top" alt="Trending Item 1">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">Oppenheimer</h5>
          
          <a href="#" class="btn btn-primary d-flex justify-content-center">Show</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card trending-card" style="background-color:#a2b9bc;">
        <img src="/assets/img/avatar.jpeg" class="card-img-top" alt="Trending Item 2">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">Avatar: The Way of Water</h5>
          <a href="#" class="btn btn-primary d-flex justify-content-center">Show</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card trending-card" style="background-color:#a2b9bc;">
        <img src="/assets/img/john.jpg" class="card-img-top" alt="Trending Item 3">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">John Wick: Chapter 4</h5>
          <a href="#" class="btn btn-primary d-flex justify-content-center">Show</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card trending-card" style="background-color:#a2b9bc;">
        <img src="/assets/img/barbie.jpg" class="card-img-top" alt="Trending Item 4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-center">Barbie</h5>
          <a href="#" class="btn btn-primary d-flex justify-content-center">Show</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- comment -->
  <!-- <div class="pt-2"> -->
  <div class="container-fluid bg-dark card4 " style="padding-bottom: 60px;">
    <h2 class="d-flex justify-content-center text-light pt-2 pb-4">Top Reviews</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="background-color:#878f99;">
          <div class="card-body">
            <h5 class="card-title">Oppenheimer</h5>
            <p class="card-text">I may consider myself lucky to be alive to watch Christopher Nolan Works which get better by years.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color:#878f99;">
          <div class="card-body">
            <h5 class="card-title">Meg 2: The Trench</h5>
            <p class="card-text">Jonas Taylor is back, and this time has battling multiple Megs, only this time he's isolated beneath the surface.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="background-color:#878f99;">
          <div class="card-body">
            <h5 class="card-title">Sound of Freedom</h5>
            <p class="card-text">THE OPENING CREDITS SEQUENCE WILL STUN YOU!The world needs to see 'Sound of Freedom'.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<!-- footer -->

<div class="container-fluid bg-dark">
    <footer class="py-2">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
        </ul>
        <p class="text-center text-light">Developed By Jyoti</p>
    </footer>
  </div>